variables:
  AUTO_BUILD_IMAGE_VERSION: 'v1.28.0'

stages:
- test
- build

.setup:
  rules:
    - changes:
      - $APP_DIRECTORY/**/*

  before_script:
    - cd $APP_DIRECTORY

include:
- backend/.gitlab-ci.yml
- overlays/.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
