stages:
- test
- build

.setup:
  rules:
    - changes:
      - $PACKAGE/**/*
  before_script:
    - cd $PACKAGE

include:
- backend/.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
